body, h1 {
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  background: #F4FAF0;
}


header {
  color: #122b29;
  background: #A0D076;
  padding: 1rem;
}

nav {
  text-align: right;
}

header h1 {
  font-family: 'Rokkitt', serif;
}

header a {
  font-size: 1.7rem;
  font-weight: 600;
  padding: 1rem;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: black;
  transition: all .5s;
}

a:hover {
  color: #1a8d4a;
  font-weight: 400;
}
.col-container {
  display: flex;
  justify-content: space-evenly;
}
.col-5 {
  flex: 0 1 calc(25% - 2rem);
  padding: 1rem;
}

.center-text {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

/* -- HOME PAGE --*/

#home-overlay {
  width: 100vw;
  height: 70vh;
  background-image: url(leaves.jpg);
  background-color: #5e853f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  position: relative;
}

#home-overlay:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 92, 13, 0.664);
  z-index: 1;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  text-align: center;
  color: rgb(223, 241, 194);
}

.text-overlay h2 {
  margin-top: 0;
}

#home-overlay > * {
  position: relative;
  z-index: 2;
}

#about {
  padding: 2rem;
}
#about h2{
  text-align: center
}

/*.hero-img {
  width: 100vw;
  height: 70vh;
  background-image: url(leaves.jpg);
  background-color: #5e853f;
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 165%; Resize the background image to cover the entire container
}*/

/* -- PLANT LIST VIEW --*/
.container {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  justify-content: space-around;
  margin: 0 auto;
}

.single-plant {
  background: #D5EAC3;
  flex-basis: 35%;
  flex-grow: 0;
  border: solid 1px #B4DA95;
  border-radius: 25px;
  margin: 1rem;
  text-align: center;
  padding: 1rem;
  transition: all .5s;
}

.single-plant:hover {
  background: #D5EAC3;
}

.plant-img {
  height: 24rem;
  width: 20rem;
}

/* -- PLANT DETAIL VIEW -- */

.selected-plant-view {
  width: 50%;
  background: #D5EAC3;
  padding: 2rem;
  border-radius: 25px;
  display: flex;
  flex-flow: column nowrap;
}

.selected-img {
  height: 550px;
  width: 450px;
  align-self: center;
}

.plant-info {
  font-weight: bold;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---- CARD ---- */
.login-card {
  width: 40%;
  margin: 2rem;
  padding: 2rem;
}

.form-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

